.bg {
  width: auto;
  height: auto;
}

.backPhotos img {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  position: relative;
  box-shadow: 0 0 10px rgba(186, 189, 187, 0.7);
}

.section {
  height: 100vh;
  padding-inline: 10rem;
}

.text-box {
  width: 40rem;
  height: 28rem;
}

.aboutus {
  width: 85%;
  margin-bottom: 5rem;
}

.aboutus h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  color: rgb(17, 189, 74);
  font-family: "Exo", sans-serif;
  margin-top: 5rem;
}

.avatar p {
  font-size: 18px;
}
