.bg {
  height: auto;
  width: auto;
}

.container {
  border: 1px solid rgba(255, 255, 255, 0.388);
  width: 40rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(25, 151, 67, 0.7);
}

.container h2 {
  color: rgb(17, 189, 74);
}

.form label {
  color: rgb(17, 189, 74);
}

.email-contact,
.name-contact {
  width: 23rem;
  padding: 0.7rem;
}

#email,
#name,
#message {
  color: white;
  border: 1px solid rgb(196, 237, 210);
  background-color: rgb(40, 39, 39);
}

#name:hover,
#email:hover,
#message:hover {
  box-shadow: 0 0 10px rgba(25, 151, 67, 0.7);
}

#message {
  resize: none;
}

.container button {
  background-color: rgb(17, 189, 74);
  color: black;
}

.container button:hover {
  background-color: rgba(17, 189, 74, 0.415);
  color: white;
}
