/* .container-main {
  height: 100vh;
  width: auto;
}

.title-form {
  width: 30rem;
}

.title-form h1 {
  color: rgb(17, 189, 74);
}

.title-form button {
  background-color: rgb(17, 189, 74);
}

.title-form button:hover {
  background-color: rgba(17, 189, 74, 0.307);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.665);
  font-weight: bold;
}

#key {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  width: 15rem;
}

.img-login {
  width: 30rem;
  background-position: center;
}

.img-login img {
  width: 475px;
  height: 622px;
} */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

input {
  width: 100%;
  padding: 14px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  color: azure;
}

.btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}
