.container-main {
  height: 100vh;
  width: auto;
}

.title-form {
  width: 30rem;
}

.title-form > h1 {
  color: rgb(17, 189, 74);
}

#email,
#password {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  width: 15rem;
}

.link-signup {
  color: rgba(17, 189, 74, 0.553);
}

.link-signup:hover {
  color: rgb(17, 189, 74);
  font-weight: bold;
}

.title-form button {
  background-color: rgb(17, 189, 74);
  color: black;
}

.title-form button:hover {
  background-color: rgba(17, 189, 74, 0.307);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.665);
  font-weight: bold;
}
