.navbar {
  border-bottom: 1px solid rgb(17, 189, 74);
  cursor: pointer;
}

.navbar-brand span {
  color: rgb(17, 189, 74);
}

.navbar-brand span:hover {
  text-shadow: 2px 2px 2px rgba(142, 142, 142, 0.561);
}

.nav-item a {
  color: rgba(16, 156, 63, 0.858);
}

.nav-item a:hover {
  border-radius: 5px;
  color: rgb(17, 189, 74);
  font-weight: bold;
  cursor: pointer;
}

.nav-item button {
  color: rgba(16, 156, 63, 0.858);
}

.custom-toggler-icon {
  background-color: rgba(1, 237, 80, 0.558);
  border-radius: 2px;
  cursor: pointer;
}

.offcanvas-title {
  color: rgb(40, 238, 106);
}

.offcanvas-end {
  width: 15rem !important;
}
