.navbar {
  border-bottom: 1px solid rgb(17, 189, 74);
}

span {
  color: rgb(17, 189, 74);
}

span:hover {
  text-shadow: 2px 2px 2px rgb(142, 142, 142);
}

.nav-item a {
  color: rgba(16, 156, 63, 0.858);
}

.nav-item a:hover {
  background-color: rgb(33, 124, 64);
  border-radius: 5px;
  color: rgb(202, 211, 205);
  font-weight: bold;
}

.nav-item button {
  color: rgba(16, 156, 63, 0.858);
}
