.container-main {
  height: auto;
  width: auto;
}

.list-container {
  width: 90rem;
  border-color: rgb(20, 216, 86);
  box-shadow: 0 0 10px rgba(26, 231, 95, 0.9);
}

#search {
  border-color: rgb(196, 237, 210);
  border-radius: 5px;
  padding: 1rem;
  color: white;
}

#search:hover {
  box-shadow: 0 0 10px rgba(25, 151, 67, 0.7);
}
.text-center {
  color: rgb(17, 189, 74);
}

.add-listing {
  color: rgb(196, 237, 210);
  border: 1px solid rgba(12, 108, 44, 0.631);
  border-radius: 5px;
  width: 10rem;
  background-color: rgba(17, 189, 74, 0.631);
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.add-listing:hover {
  color: rgba(5, 1, 1, 0.732);
  background-color: rgb(17, 189, 74);
  transition: 1s ease-out;
}

.tags a {
  text-decoration: none;
  color: rgba(17, 189, 74, 0.631);
  background: none;
}

.tags a:hover {
  color: rgb(17, 189, 74);
}

.list .card {
  border: 1px solid #343434;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  height: 100%;
}

img {
  height: 100%;
}

.list .card:hover {
  border-color: rgb(20, 216, 86);
  box-shadow: 0 0 10px rgba(26, 231, 95, 0.9);
}

.card-body h5 {
  color: rgb(17, 189, 74);
}

.card-text {
  color: white;
}
