.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.txt {
  color: rgb(17, 189, 74);
}

#name,
#email,
#password {
  width: 22rem;
  padding: 14px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: azure;
  background-color: rgb(40, 39, 39);
}

.btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}
.upload {
  border: none;
  background-color: transparent;
  margin-bottom: 0.7rem;
}
