.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

#name,
#email,
#password {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  width: 20rem;
  outline: none;
}

.btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}
