.container-main {
  height: auto;
  width: auto;
}

.title-form {
  width: 30rem;
  border: 1px solid white;
  box-shadow: 10px 10px 5px rgb(44, 123, 44);
}

.title-form h1 {
  color: rgb(17, 189, 74);
}

.title-form button {
  background-color: rgb(17, 189, 74);
}

input {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  width: 20rem;
  outline: none;
  box-shadow: 10px 10px 5px rgb(44, 123, 44);
}
