.container-main {
  height: auto;
  width: auto;
}

.title-form {
  width: 30rem;
}

.title-form h1 {
  color: rgb(17, 189, 74);
}

.title-form button {
  background-color: rgb(17, 189, 74);
}

#key {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  width: 15rem;
}

.img-login {
  width: 30rem;
  background-position: center;
}

.img-login img {
  width: 475px;
  height: 622px;
}
