.container-main {
  height: auto;
  width: auto;
}

.form-header {
  width: 30rem;
}

.title-form {
  width: 40rem;
}

.title-form h5 {
  color: rgb(17, 189, 74);
}

.title-form button {
  background-color: rgb(17, 189, 74);
}

#key {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1rem;
  width: 15rem;
}

#desk {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1rem;
  color: white;
}
