.bg {
  width: auto;
  height: auto;
}

.header-title {
  color: rgb(17, 189, 74);
}

.profile-txt {
  color: azure;
  font-size: 1.299rem;
}

.container-profile {
  width: 45rem;
  height: 40rem;
  box-shadow: 0 0 10px rgba(43, 212, 100, 0.7);
}

.link-signup:hover {
  color: rgb(23, 235, 93);
}
.profile img {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  background-size: cover;
}

.profile button {
  color: #000;
}

.profile button:hover {
  color: #fff;
}
